*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 24px;
}

.navigation {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}